# Ignore all tar files except the archives in the bin directory
*.tar
*.tar.*
!bin/DTar.tar.gz

# Ignore all text and obj files
*.txt
*.obj

# Ignore the bin directory and its contents
bin/*

# Allow the zip archive in the bin directory
!bin/DTar.zip